.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog .titulo-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
}

.blog .titulo-blog .titulo-direito {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    width: 50%;
    min-width: 400px;
}


.blog .titulo-blog .titulo-esquerdo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    width: 50%;
    min-width: 400px;
}

.blog .titulo-blog .titulo-direito span {
    display: flex;
    width: 100%;
    height: 5px;
    background-color: #AA0101;
    border-radius: 5px;
    padding-bottom: 3px;
}

.blog .titulo-blog .titulo-direito h2 {
    font-family: var(--font-2);
    color: #403939;
    font-weight: bolder;
    font-size: var(--tam-6);
}

.blog .titulo-blog .titulo-direito h3 {
    font-family: var(--font-2);
    color: #403939;
    font-weight: bolder;
    font-size: var(--tam-4);
}

.blog .titulo-blog .titulo-esquerdo p {
    width: 100%;
    font-family: var(--font-1);
    color: #000;
    font-weight: 100;
    font-size: var(--tam-3);
    text-align: justify;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-top: 40px;
    gap: 100px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo1 .estrelinhas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo1 .estrelinhas img {
    width: 30px;
    height: 30px;

}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo1 h3 {
    font-family: var(--font-1);
    color: #363434;
    font-weight: bold;
    font-size: var(--tam-5);
    text-align: center;
    height: 30px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo1 p {
    font-family: var(--font-1);
    color: #363434;
    font-weight: 100;
    font-size: var(--tam-1);
    text-align: center;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .divisor {
    position: absolute;
    display: flex;
    width: 4px;
    height: 100px;
    background-color: #7E8084;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;

}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #E0E2E8;
    border-radius: 35px;
    width: 195px;
    height: 70px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div span {
    display: flex;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #fff;

}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div span img {
    height: 100%;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div .user1 {
    position: absolute;
    left: 14px;
    top: 4px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div .user2 {
    position: absolute;
    left: 49px;
    top: 4px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div .user3 {
    position: absolute;
    left: 84px;
    top: 4px;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div .user4 {
    position: absolute;
    left: 119px;
    top: 4px;
    background-color: #AA0101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 div .user4 p {
    font-family: var(--font-1);
    color: #fff;
    font-weight: 600;
    font-size: var(--tam-2);
    text-align: center;
}

.blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .conteudo-titulo-blog-esquerdo2 p {
    font-family: var(--font-1);
    color: #7E8084;
    font-weight: 500;
    font-size: var(--tam-1);
    text-align: center;
}

.conteudo-posts-blog {
    padding-top: 100px;
    width: 100%;

}

.conteudo-posts-blog h3 {
    width: 100%;
    font-family: var(--font-1);
    font-size: var(--tam-3);
    color: #2e2a2a;
    font-weight: bolder;
    text-align: center;
    padding: 0 10px;
}

.conteudo-posts-blog h3 span {
    position: relative;
    color: #403939;
    font-weight: 500;
    padding: 2px 0;

}

.conteudo-posts-blog h3 span::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    background-color: #AA0101;
    border-radius: 10px;
}

.conteudo-posts-blog .container-posts {
    width: 80%;
    margin: auto;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-posts-blog .container-posts .scroll-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.conteudo-posts-blog .container-posts .scroll-posts div {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.conteudo-posts-blog .container-posts .scroll-posts div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 950px) {

    .blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo {
        transform: scale(0.7);
        display: flex;
        gap: 10px;
    }

    .blog .titulo-blog .titulo-esquerdo .conteudo-titulo-blog-esquerdo .divisor {
        display: none;
    }
}

@media screen and (max-width: 800px) {


    .blog .titulo-blog .titulo-direito {
        width: 100%;
        min-width: 100%;
    }


    .blog .titulo-blog .titulo-esquerdo {
        width: 100%;
        min-width: 100%;
    }



    .conteudo-posts-blog .container-posts {
        width: 100%;
        overflow: hidden;
    }

    .conteudo-posts-blog .container-posts .scroll-posts {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding: 0 10px;
    }

    .conteudo-posts-blog .container-posts .scroll-posts div {
        min-width: 300px;
        min-height: 300px;
    }

    .conteudo-posts-blog .container-posts .scroll-posts::-webkit-scrollbar {
        display: none;
    }

    .conteudo-posts-blog .container-posts .scroll-posts {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}