.menu-de-navegacao {
    position: fixed;
    top: 20px;
    border-radius: 10px;
    width: calc(100% - 83px);
    height: 72px;
    background: var(--color-fundo-nav);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-borda-nav);
    box-shadow: var(--sombra-nav);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    overflow: hidden;
}

.logo-nav {
    width: 20%;
}


.logo-nav a img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}


.itens-nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.itens-lista-nav {
    display: flex;
    gap: 20px;
}

.itens-lista-nav li {
    list-style: none;
    padding: 10px 0;

}

.itens-lista-nav li:hover {
    transform: translateY(-5px);
    transition: 0.3s all;
    border-bottom: 1px solid red;
}

.itens-lista-nav li a {
    width: 100%;
    height: 100%;
    font-family: var(--font-1);
    font-size: var(--tam-1);
    font-weight: 100;
    color: var(--color-texto-claro);
    text-decoration: none;
    padding: 10px 0;
}

.botoes-nav {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.links-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.caixa-icone-googlemaps img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.caixa-icone-instagram img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.link-agendamento {
    background-color: var(--color-bt);
    padding: 14px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-agendamento a {
    font-family: var(--font-1);
    font-size: var(--tam-1);
    font-weight: 700;
    color: var(--color-texto-claro);
    text-decoration: none;
    text-transform: uppercase;
}


@media screen and (max-width: 1200px) {
    .links-redes-sociais {
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    .menu-de-navegacao {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
    }

    .logo-nav {
        width: 40%;
    }

    .logo-nav a img {
        width: 100%;
    }

    .itens-nav {
        display: none;
    }

    .botoes-nav {
        width: 40%;
    }

    .links-redes-sociais {
        display: none;
    }

    .link-agendamento {
        width: 100%;
        padding: 12px 0;
        border-radius: 12px;
    }

    .link-agendamento a {
        font-size: 11px;
    }
}