.precos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #010101;
    padding-top: 100px;
    position: relative;
    z-index: -2;
    overflow-x: hidden;
}

.background-precos {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.background-precos .video {
    width: 60%;
}


.titulos-precos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.titulos-precos h2 {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: var(--tam-5);
    text-transform: uppercase;
}

.titulos-precos p {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 200;
    font-size: var(--tam-2);
}


.container-precos {
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

.container-precos .box-container-precos {
    width: 340px;
    height: 770px;
    background: linear-gradient(180deg, #1c1c1c9b 50%, #010101 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container-precos .box-container-precos .titulo-container-precos {
    padding: 0 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-precos .box-container-precos .titulo-container-precos h4 {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: var(--tam-4);
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}

.container-precos .box-container-precos p {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: var(--tam-2);
    text-align: center;
    padding: 40px 15px;
    height: 100px;

}




.container-precos .box-container-precos.principal {
    background: linear-gradient(180deg, #AA0101 70%, #010101 100%);
    position: relative;
}

.container-precos .box-container-precos.principal .line-precos-1 {
    position: absolute;
    top: 10px;
    left: 5px;
    display: flex;
    height: 90%;
    width: 1px;
    background: linear-gradient(180deg, #fff, #aa01010e);
}

.container-precos .box-container-precos.principal .line-precos-2 {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    height: 90%;
    width: 1px;
    background: linear-gradient(180deg, #fff, #aa01010e);
}



@media screen and (max-width: 800px) {


    .precos {
        width: 100vw;
        overflow: hidden;
        /* mantém a seção ocupando 100% sem rolagem */
        position: relative;
        z-index: 8;
    }

    .container-precos {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding: 1rem 0;

        scrollbar-width: none;
        /* Firefox */
    }

    .container-precos::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .container-precos .box-container-precos {
        flex: 0 0 350px;
        min-height: 90vh;
        scroll-snap-align: start;
    }


    .box-container-precos.principal {
        order: -1;
    }

}