.section-produto {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-1);
    gap: 30px;
}

.titulo-produtos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /* opacity: 0; */
}

.titulo-produtos .line {
    width: 5px;
    height: 100%;
    background-color: #AA0101;
    margin-right: 10px;
    border-radius: 100px 0 100px 0;
}

.titulo-produtos h3 {
    font-family: var(--font-1);
    font-size: var(--tam-2);
    font-weight: 400;
    color: #d9d9d9;
}

.titulo-produtos h3 .titulo {
    font-size: var(--tam-5);
    font-weight: bold;
    color: #CDCBCB;
}

.conteudo-section-produto {
    width: calc(100% - 180px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.conteudo-section-produto .conteudo-imagem {
    width: 40%;
    display: flex;
    justify-content: flex-end;

}

.conteudo-section-produto .conteudo-imagem img {
    height: 396px;
    max-height: 100%;
    position: relative;
    left: 0;
    transition: left 0.7s ease, opacity 0.7s ease;
    opacity: 1;
}

/* Classe para imagem saindo */
.conteudo-section-produto .conteudo-imagem .sair {
    left: -100%;
    opacity: 0;
}

/* Classe para imagem entrando */
.conteudo-section-produto .conteudo-imagem .entrar {
    left: 0;
    opacity: 1;
    position: relative;
}


.conteudo-section-produto .conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 396px;
    gap: 60px;
}

.conteudo-section-produto .conteudo-texto div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.conteudo-section-produto .conteudo-texto div p {
    position: relative;
    text-align: end;
    font-family: var(--font-1);
    font-size: var(--tam-1);
    font-weight: 100;
    color: var(--color-texto-claro);
    animation: esticar2 2s;

}

.conteudo-section-produto .conteudo-texto div .apontamento {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    right: 0;
    top: 10px;
    animation: esticar 1.5s 1;
}

.conteudo-section-produto .conteudo-texto div .apontamento .linha {
    position: absolute;
    right: -10%;
    display: flex;
    width: 110%;
    height: 3px;
    background-color: var(--color-texto-claro);
    z-index: 1;
}

.conteudo-section-produto .conteudo-texto div .apontamento .circulo {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-texto-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.801);
    z-index: 2;
    left: -2px;
    animation: pulsar 1.5s infinite;
}

.conteudo-section-produto .conteudo-texto div .apontamento .circulo::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}


.conteudo-section-produto .conteudo-texto div:nth-child(2) {
    transform: translateX(-10%);
}

.conteudo-section-produto .conteudo-texto div:nth-child(3) {
    transform: translateX(-20%);
}

.galeria-produto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 38px;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.galeria-produto div {
    width: 126px;
    height: 126px;
    background-color: red;
    background: linear-gradient(90deg, rgba(68, 0, 0, 0.2), #AA0101);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria-produto div:nth-child(1) {
    transform: scale(1.2);    
    background: #aa01015d;

}

.galeria-produto div img {
    height: 110%;
}


.carregamento-section-produtos {
    width: 100%;
    height: 18px;
    background-color: #1C1C1C;
    overflow: hidden;
}

.carregamento-section-produtos span {
    display: block;
    width: 0%;
    height: 100%;
    background: #a60000;
    transform: skewX(-50deg);
    transform-origin: top left;
    animation: carregar 10s linear infinite;
}

@keyframes carregar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}



@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.55);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes esticar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes aparecer-produtos {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {

    .conteudo-section-produto {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    .conteudo-section-produto .conteudo-imagem {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .conteudo-section-produto .conteudo-texto {
        position: absolute;
        right: 0;
    }

    .conteudo-section-produto .conteudo-texto div {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .conteudo-section-produto .conteudo-texto div p {
        font-size: 10px;
        font-weight: 500;
        color: #1C1C1C;
        animation: esticar2 2s;
        background-color: #fffffff1;
        border-radius: 12px;
        padding: 10px 5px;
        text-align: center;

    }

    .conteudo-section-produto .conteudo-texto div .apontamento {
        display: none;

    }

    .galeria-produto {
        gap: 20px;
    }

    .galeria-produto div {
        width: 96px;
        height: 96px;
    }

    .galeria-produto div img {
        height: 100%;
    }
}