* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #767373;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 2px;
}